// src/css/quasar.variables.sass

$primary   : #ffeea1
$secondary : #f2ab5a
$accent    : #693a04

$dark      : #1d1d1d
$dark-page : #121212

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #f2e0ac